# **Unicredit Training Camp 2021**
**Team: VIN**
* Gaurav Mohan Ramse - 1965564
* Tran Luong Bang - 1956419

**Knowledge Graph Embedding - AmpliGraph library**

We have embedded graph with **TransE, CompLex and ConvKB** Model by using AmpliGraph library.

**Triple Classification**

To classify triples to positive or negative, we have trained model with neural network(NN)

**Result: TransE and NN return the best result**

**Score: 0.875**

# Install Libraries

In [ ]:
# Install AmpliGraph library
! pip install ampligraph

# Import Libraries

In [ ]:
%tensorflow_version 1.x
import ampligraph
import numpy as np
import pandas as pd
import tensorflow as tf
from ampligraph.latent_features import TransE, ComplEx, HolE, DistMult, ConvE, ConvKB
from ampligraph.utils import save_model, restore_model
import matplotlib.pyplot as plt
import sklearn
# Keras specific
import keras
from keras.models import Sequential
from keras.layers import Dense,Activation


from ampligraph.utils import save_model, restore_model

TensorFlow 1.x selected.

Using TensorFlow backend.

In [ ]:
# Connect data from google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Data Processing

In [ ]:
train_valid_path = '/content/drive/MyDrive/Unicredit/kg_trainvalidation.csv'
test_data_path = '/content/drive/MyDrive/Unicredit/kg_test_nolabel.csv'

In [ ]:
# read train validation dataset
train_valid_data = pd.read_csv(train_valid_path, sep=',')

# create head column from Triple
train_valid_data['head'] = train_valid_data.apply(lambda row: row.Triple.split(' ')[0], axis=1)

# create relation column from Triple
train_valid_data['relation'] = train_valid_data.apply(lambda row: row.Triple.split(' ')[1], axis=1)

# create relation column from Triple
train_valid_data['tail'] = train_valid_data.apply(lambda row: row.Triple.split(' ')[2], axis=1)
train_valid = train_valid_data[['Id','head', 'relation', 'tail']]

In [ ]:
train_valid_data

            Id                        Triple  ...          relation   tail
0            0  34881 intercommunality 14230  ...  intercommunality  14230
1            1          9387 ownerOper 39573  ...         ownerOper  39573
2            2             12480 coach 24064  ...             coach  24064
3            3           6871 branches 22010  ...          branches  22010
4            4           13789 damsire 33095  ...           damsire  33095
...        ...                           ...  ...               ...    ...
114749  114749            13283 nearSw 30936  ...            nearSw  30936
114750  114750      12592 officiallang 11190  ...      officiallang  11190
114751  114751            30904 nearNe 17034  ...            nearNe  17034
114752  114752          21968 statlabel 4930  ...         statlabel   4930
114753  114753              41309 route 9335  ...             route   9335

[114754 rows x 6 columns]

In [ ]:
# read test dataset
test_data = pd.read_csv(test_data_path, sep=',')

# create head column from Triple
test_data['head'] = test_data.apply(lambda row: row.Triple.split(' ')[0], axis=1)

# create relation column from Triple
test_data['relation'] = test_data.apply(lambda row: row.Triple.split(' ')[1], axis=1)

# create relation column from Triple
test_data['tail'] = test_data.apply(lambda row: row.Triple.split(' ')[2], axis=1)
test = test_data[['Id','head', 'relation', 'tail']]

In [ ]:
test_data

           Id  ...   tail
0      114754  ...  14477
1      114755  ...  11412
2      114756  ...  35321
3      114757  ...   4591
4      114758  ...    214
...       ...  ...    ...
28685  143439  ...  17241
28686  143440  ...  13781
28687  143441  ...  43060
28688  143442  ...     80
28689  143443  ...  22605

[28690 rows x 5 columns]

In [ ]:
# Concate train, validation and test dataset
all_data = pd.concat([train_valid, test])
all_data

           Id   head                 relation   tail
0           0  34881         intercommunality  14230
1           1   9387                ownerOper  39573
2           2  12480                    coach  24064
3           3   6871                 branches  22010
4           4  13789                  damsire  33095
...       ...    ...                      ...    ...
28685  143439  10381                 constell  17241
28686  143440  37871                postgroup  13781
28687  143441    745             areaCodeType  43060
28688  143442   2613        visitorConference     80
28689  143443  15342  constituencyWestminster  22605

[143444 rows x 4 columns]

### Knowledge Graph Embedding

In [ ]:
# Create dataset for training KGE model
X_train = all_data[['head', 'relation', 'tail']].values

**CompLex Model**

In [ ]:
# # Train a KGE model
# embedding_model = ComplEx(k=300, 
#                epochs=500, 
#                eta=3, 
#                loss='nll', 
#                initializer='xavier', initializer_params={'uniform': False},
#                regularizer='LP', regularizer_params= {'lambda': 0.0001, 'p': 3},
#                optimizer= 'adam', optimizer_params= {'lr': 0.0001}, 
#                seed= 0, batches_count= 10, verbose=True)

# embedding_model.fit(X_train)
# # ----------------------

# # Save model
# save_model(embedding_model, '/content/drive/MyDrive/Unicredit/Complex.pkl')

# Read model
# embedding_model = restore_model('/content/drive/MyDrive/Unicredit/Complex.pkl')

**ConvKB Model**

In [ ]:
# # Train a KGE model
# embedding_model = ConvKB(k=300, 
#                epochs=500, 
#                eta=3, 
#                loss='nll', 
#                initializer='xavier', initializer_params={'uniform': False},
#                regularizer='LP', regularizer_params= {'lambda': 0.0001, 'p': 3},
#                optimizer= 'adam', optimizer_params= {'lr': 0.0001}, 
#                seed= 0, batches_count= 10, verbose=True)

# embedding_model.fit(X_train)
# # ----------------------

# # Save model
# save_model(embedding_model, '/content/drive/MyDrive/Unicredit/ConvKB.pkl')

# # Read model
# embedding_model = restore_model('/content/drive/MyDrive/Unicredit/ConvKB.pkl')

**TransE Model**

In [ ]:
# Train a KGE model
embedding_model = TransE(k=300, 
               epochs=200, 
               eta=3, 
               loss='nll', 
               initializer='xavier', initializer_params={'uniform': False},
               regularizer='LP', regularizer_params= {'lambda': 0.0001, 'p': 3},
               optimizer= 'adam', optimizer_params= {'lr': 0.0001}, 
               seed= 0, batches_count= 10, verbose=True)

embedding_model.fit(X_train)
# ----------------------

# Save model
save_model(embedding_model, '/content/drive/MyDrive/Unicredit/TransE')

# Read model
embedding_model = restore_model('/content/drive/MyDrive/Unicredit/TransE')

Average TransE Loss:   1.222616: 100%|██████████| 200/200 [00:42<00:00,  4.71epoch/s]

In [ ]:
# Get head embedding
head_embedding = embedding_model.get_embeddings(entities = all_data['head'].values.tolist())

# Get relation embedding
relation_embedding = embedding_model.get_embeddings(all_data['relation'].values.tolist(), embedding_type='relation')

# Get tail embedding
tail_embedding = embedding_model.get_embeddings(entities = all_data['tail'].values.tolist())

In [ ]:
# Concat head, relation, tail embedding to a triple_embedding
triple_embedding = np.concatenate((head_embedding, relation_embedding, tail_embedding), axis=1)

In [ ]:
triple_embedding.shape

(143444, 900)

## Builing ML Model
### Split data

In [ ]:
# x_train dataset including train and validation model
x_train = triple_embedding[:114754, :]
x_train.shape

(114754, 900)

In [ ]:
# y_train: label of x_train dataset
y_train = train_valid_data.Label.values
y_train.shape

(114754,)

### Neural Network Model

In [ ]:
# Create model
model = Sequential()
model.add(Dense(600, activation='relu', input_dim=x_train.shape[1]))

model.add(Dense(300, activation='relu'))

model.add(Dense(150, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

# Compile the model
model.compile(optimizer='adam', 
              loss=keras.losses.binary_crossentropy, 
              metrics=['accuracy'])

In [ ]:
# Fit Model
model.fit(x_train, y_train, epochs=100, verbose=1, shuffle = True, batch_size=32)

Epoch 1/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.6649 - accuracy: 0.5604
Epoch 2/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.5831 - accuracy: 0.6665
Epoch 3/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.5212 - accuracy: 0.7177
Epoch 4/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.4736 - accuracy: 0.7525
Epoch 5/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.4322 - accuracy: 0.7822
Epoch 6/100
114754/114754 [==============================] - 12s 104us/step - loss: 0.3922 - accuracy: 0.8081
Epoch 7/100
114754/114754 [==============================] - 12s 104us/step - loss: 0.3525 - accuracy: 0.8334
Epoch 8/100
114754/114754 [==============================] - 12s 104us/step - loss: 0.3182 - accuracy: 0.8531
Epoch 9/100
114754/114754 [==============================] - 12s 104us/step - loss: 0.2839 - accuracy: 0.8714
Epoch 10/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.2533 - accuracy: 0.8880
Epoch 11/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.2272 - accuracy: 0.9017
Epoch 12/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.2015 - accuracy: 0.9137
Epoch 13/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.1830 - accuracy: 0.9233
Epoch 14/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.1633 - accuracy: 0.9326
Epoch 15/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.1489 - accuracy: 0.9393
Epoch 16/100
114754/114754 [==============================] - 12s 103us/step - loss: 0.1344 - accuracy: 0.9462
Epoch 17/100
114754/114754 [==============================] - 12s 103us/step - loss: 0.1232 - accuracy: 0.9515
Epoch 18/100
114754/114754 [==============================] - 12s 104us/step - loss: 0.1126 - accuracy: 0.9571
Epoch 19/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.1027 - accuracy: 0.9610
Epoch 20/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.0963 - accuracy: 0.9641
Epoch 21/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.0902 - accuracy: 0.9668
Epoch 22/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.0829 - accuracy: 0.9695
Epoch 23/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.0798 - accuracy: 0.9711
Epoch 24/100
114754/114754 [==============================] - 12s 108us/step - loss: 0.0744 - accuracy: 0.9736
Epoch 25/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0697 - accuracy: 0.9748
Epoch 26/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0677 - accuracy: 0.9762
Epoch 27/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0615 - accuracy: 0.9788
Epoch 28/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0607 - accuracy: 0.9791
Epoch 29/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.0571 - accuracy: 0.9807
Epoch 30/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0571 - accuracy: 0.9802
Epoch 31/100
114754/114754 [==============================] - 12s 104us/step - loss: 0.0532 - accuracy: 0.9817
Epoch 32/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0501 - accuracy: 0.9827
Epoch 33/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.0493 - accuracy: 0.9832
Epoch 34/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0480 - accuracy: 0.9841
Epoch 35/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.0460 - accuracy: 0.9842
Epoch 36/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.0450 - accuracy: 0.9849
Epoch 37/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0429 - accuracy: 0.9860
Epoch 38/100
114754/114754 [==============================] - 12s 108us/step - loss: 0.0424 - accuracy: 0.9861
Epoch 39/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0408 - accuracy: 0.9865
Epoch 40/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.0398 - accuracy: 0.9864
Epoch 41/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.0393 - accuracy: 0.9870
Epoch 42/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.0361 - accuracy: 0.9884
Epoch 43/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0363 - accuracy: 0.9878
Epoch 44/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0359 - accuracy: 0.9884
Epoch 45/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0345 - accuracy: 0.9883
Epoch 46/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0338 - accuracy: 0.9892
Epoch 47/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0322 - accuracy: 0.9899
Epoch 48/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0338 - accuracy: 0.9895
Epoch 49/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0321 - accuracy: 0.9897
Epoch 50/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0302 - accuracy: 0.9908
Epoch 51/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0312 - accuracy: 0.9900
Epoch 52/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0287 - accuracy: 0.9906
Epoch 53/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0288 - accuracy: 0.9909
Epoch 54/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0303 - accuracy: 0.9907
Epoch 55/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.0279 - accuracy: 0.9914
Epoch 56/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0274 - accuracy: 0.9915
Epoch 57/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0254 - accuracy: 0.9924
Epoch 58/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0267 - accuracy: 0.9918
Epoch 59/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0245 - accuracy: 0.9926
Epoch 60/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.0262 - accuracy: 0.9918
Epoch 61/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0249 - accuracy: 0.9922
Epoch 62/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0252 - accuracy: 0.9924
Epoch 63/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0231 - accuracy: 0.9930
Epoch 64/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0239 - accuracy: 0.9930
Epoch 65/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.0225 - accuracy: 0.9930
Epoch 66/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0229 - accuracy: 0.9931
Epoch 67/100
114754/114754 [==============================] - 12s 108us/step - loss: 0.0222 - accuracy: 0.9934
Epoch 68/100
114754/114754 [==============================] - 12s 108us/step - loss: 0.0230 - accuracy: 0.9936
Epoch 69/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0230 - accuracy: 0.9936
Epoch 70/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0211 - accuracy: 0.9934
Epoch 71/100
114754/114754 [==============================] - 12s 109us/step - loss: 0.0237 - accuracy: 0.9932
Epoch 72/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0216 - accuracy: 0.9937
Epoch 73/100
114754/114754 [==============================] - 12s 108us/step - loss: 0.0195 - accuracy: 0.9944
Epoch 74/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0209 - accuracy: 0.9944
Epoch 75/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0197 - accuracy: 0.9942
Epoch 76/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0196 - accuracy: 0.9941
Epoch 77/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0193 - accuracy: 0.9941
Epoch 78/100
114754/114754 [==============================] - 12s 108us/step - loss: 0.0195 - accuracy: 0.9942
Epoch 79/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0199 - accuracy: 0.9941
Epoch 80/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0179 - accuracy: 0.9947
Epoch 81/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0182 - accuracy: 0.9944
Epoch 82/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0168 - accuracy: 0.9949
Epoch 83/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0193 - accuracy: 0.9946
Epoch 84/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0182 - accuracy: 0.9947
Epoch 85/100
114754/114754 [==============================] - 12s 108us/step - loss: 0.0175 - accuracy: 0.9950
Epoch 86/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0171 - accuracy: 0.9953
Epoch 87/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0169 - accuracy: 0.9951
Epoch 88/100
114754/114754 [==============================] - 12s 109us/step - loss: 0.0182 - accuracy: 0.9948
Epoch 89/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0158 - accuracy: 0.9953
Epoch 90/100
114754/114754 [==============================] - 12s 105us/step - loss: 0.0164 - accuracy: 0.9951
Epoch 91/100
114754/114754 [==============================] - 12s 107us/step - loss: 0.0165 - accuracy: 0.9952
Epoch 92/100
114754/114754 [==============================] - 12s 108us/step - loss: 0.0161 - accuracy: 0.9952
Epoch 93/100
114754/114754 [==============================] - 13s 110us/step - loss: 0.0157 - accuracy: 0.9957
Epoch 94/100
114754/114754 [==============================] - 12s 109us/step - loss: 0.0161 - accuracy: 0.9954
Epoch 95/100
114754/114754 [==============================] - 12s 108us/step - loss: 0.0154 - accuracy: 0.9954
Epoch 96/100
114754/114754 [==============================] - 12s 106us/step - loss: 0.0166 - accuracy: 0.9954
Epoch 97/100
114754/114754 [==============================] - 12s 109us/step - loss: 0.0157 - accuracy: 0.9954
Epoch 98/100
114754/114754 [==============================] - 12s 109us/step - loss: 0.0153 - accuracy: 0.9958
Epoch 99/100
114754/114754 [==============================] - 12s 108us/step - loss: 0.0161 - accuracy: 0.9957
Epoch 100/100
114754/114754 [==============================] - 12s 109us/step - loss: 0.0145 - accuracy: 0.9961

In [ ]:
# Save DL model
model.save('/content/drive/MyDrive/Unicredit/NN_model')

In [ ]:
# Evaluate the train dataset
pred_train= model.predict(x_train)
scores = model.evaluate(x_train, y_train, verbose=0)
print('Accuracy on training data: {}% \n Error on training data: {}'.format(scores[1], 1 - scores[1]))

Accuracy on training data: 0.9973944425582886%
 Error on training data: 0.0026055574417114258

### Predict the test dataset

In [ ]:
# create x_test dataset
x_test = triple_embedding[114754:, :]
x_test.shape

(28690, 900)

In [ ]:
# Predict test dataset
pred_test = model.predict(x_test)

In [ ]:
# with value of pred_test greater than threshold is positive, otherwise negative
y_pred = []
threshold = 0.5
for i in pred_test:
    if i >= threshold:
        y_pred.append(1)
    else:  y_pred.append(0)

In [ ]:
test_data['Predicted'] = y_pred
result = test_data[['Id', 'Predicted']]
result

           Id  Predicted
0      114754          0
1      114755          0
2      114756          1
3      114757          0
4      114758          1
...       ...        ...
28685  143439          1
28686  143440          0
28687  143441          1
28688  143442          1
28689  143443          0

[28690 rows x 2 columns]

In [ ]:
result.Predicted.value_counts()

1    15975
0    12715
Name: Predicted, dtype: int64

In [ ]:
# Save test dataset predict result
result.to_csv('/content/drive/MyDrive/Unicredit/submit1.csv', index=False)